.row-holder{
  margin-bottom: 15px;
}
#file-list-parent button,
#list-of-smbs button {
    margin-right: 15px;
    margin-top: 15px;
    background: #848484;
    color: #FFF;
    border: none;
    padding: 10px 30px;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
