.row-holder{
  margin-bottom: 15px;
}
#file-list-parent button,
#list-of-smbs button,
.button-sb {
    margin-right: 15px;
    margin-top: 15px;
    background: #848484;
    color: #FFF;
    border: none;
    padding: 10px 30px;
    transition:all .5s linear;
}
.button-sb.active {
    background: #ff4848 !important;
    font-weight: bold;
    border-left: 5px solid #848484 !important;
    transition:all .5s linear;
}

/*json view*/
.key, .not-key {
    display: inline-block;
}
.index-is-number {
  background-color: #ff7e00 !important;
  color: #FFF;
}
.index-is-boolean {
  background-color: #225bff !important;
  color: #FFF;
}

.depth-val-0{margin-left: 0}
.depth-val-1{margin-left: 5px}
.depth-val-2{margin-left: 10px}
.depth-val-3{margin-left: 15px}
.depth-val-4{margin-left: 20px}
.depth-val-5{margin-left: 25px}
.depth-val-6{margin-left: 30px}
.depth-val-7{margin-left: 35px}
.depth-val-8{margin-left: 40px}

.parent-span, .child-span {
    padding: 2px 6px;
    font-size: 0.8em;
    font-family: "Helvetica";
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}
.parent-span{
    background: #ae5cff;
}
.child-span {
    background: #ff6ce3;
}

#save-button,
#sb-add-save{
    background: #46ff48 !important;
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Helvetica";
    font-weight: bold;
}
.sb-modifier-active {
    background: #FFF;
    border: 1px solid #d7d7d7;
}
.sb-modifier-saving{
  border: 1px solid red;
}
.add-inner-row, .add-row {
    background: #ff8700;
    padding: 4px 5px;
    font-size: 10px;
    font-family: helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin: 1px 5px;
    cursor: hand;
    cursor: pointer;
}
